.header {
    max-width: 1170px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.logo {
    width: 140px;
    height: 37px;
    background: url(../img/logo.png);
}
.nav {
    width: 347px;
    height: 19px;
}

.navbar {
    padding: 33px 0 38px 0;
}

a {
    text-decoration: none;
    color: $black;
}
.ul-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;

}
.button {
    width: 168px;
    height: 48px;
    border-radius: 16px;
    background: $yellow;
    border: none;
}