
$yellow:  #FCC344;
$grey: #F7F7F7;
$black: #000000;
$white: #FFFFFF;
$minor-text: #717171;
$other-elm: #0FAD1F;
$link: #8D8D8D;

@import "header";
@import "main";
@import "footer";
@import "custom";
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    font-style: normal;
}
